body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/1920px-Flag_of_Europe.svg.png");
    background-repeat: no-repeat;
    background-size: cover;

  }
  h1 {
    color: white;
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
  }
  label {
    color: white;
    font-size: 1.5em;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #e6e6e6;
  }
  #result {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
  }