<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Check your European VAT number</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Check VAT</h1>
      <form onsubmit="checkVat(); return false;">
        <label for="country_code">Country code:</label>
        <input type="text" placeholder="enter a country code" id="country_code" name="country_code" required autofocus ><br>
        <label for="vat_number">VAT number:</label>
        <input type="text" id="vat_number" name="vat_number" placeholder="enter the vat number" required autofocus><br>
        <input type="submit" value="Check VAT">
      </form>
      <div id="result"></div>
    </div>
    <script type="text/javascript" src="/static/check_vat.js"></script>
  </body>
</html>